<!--редактирование/создания задачи-->

<mat-dialog-content>
  <p mat-dialog-title>{{ dialogTitle }}</p>

  <!--название задачи    -->
  <mat-form-field>
    <mat-label>Название (обязательно)</mat-label>
    <input
      #inputTitle
      (keydown.enter)="onConfirm()"
      [(ngModel)]="tmpTaskTitle"
      matInput
    />
    <!-- по нажатию на enter можем сразу сохранить задачу -->

    <button
      (click)="tmpTaskTitle = ''"
      *ngIf="tmpTaskTitle.trim().length > 0"
      aria-label="Clear"
      class="size25"
      mat-button
      mat-icon-button
      matSuffix
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Укажите категорию</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Без категори</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category.title }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Укажите приоритет</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Без приоритета</mat-option>
      <mat-option *ngFor="let priority of priorities" [value]="priority">
        {{ priority.title }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Укажите срок выполнения"
      #inputDate
      type="text"
      [matDatepicker]="picker"
      [(ngModel)]="tmpDate"
      (click)="picker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <button
      *ngIf="inputDate.value.trim().length > 0"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="clear"
      (click)="tmpDate = null"
      class="size25"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<!--  кнопки возможных действий-->
<mat-dialog-actions>
  <div class="col-md-5 col-12">
    <button
      mat-raised-button
      color="primary"
      (click)="onConfirm()"
      [disabled]="inputTitle.value.trim().length == 0"
    >
      <!-- если пустой текст - кнопка "Сохранить" будет недоступна -->
      Сохранить
    </button>

    <button mat-raised-button (click)="onCancel()">Отмена</button>
  </div>

  <div *ngIf="operationType" class="col-md-7 col-12 text-right">
    <button mat-button class="green" (click)="changeStateTask()">
      {{ task.completed ? "Активировать" : "Завершить" }}
    </button>

    <button mat-button class="red" (click)="delete()">Удалить задачу</button>
  </div>
</mat-dialog-actions>
