<ng-sidebar-container style="height: 100vh;">
 
    <ng-sidebar
      (onClosed)="onClosedMenu()"
      [animate]="true"
      [autoFocus]="false"
      [closeOnClickBackdrop]="true"
      [closeOnClickOutside]="false"
      [mode]="menuMode"
      [opened]="menuOpened"
      [position]="menuPosition"
      [showBackdrop]="showBackdrop"
    >
      <div
        class="sidebar"
        data-color="purple"
        data-step="1"
        data-intro="Фильтрация задач, добавление,удаление, редактирование категорий"
        data-position="right"
      >
        <app-categories
          [categories]="categories"
          [selectedCategory]="selectedCategory"
          (selectCategory)="onSelectCategory($event)"
          (updateCategory)="onUpdateCategory($event)"
          (addCategory)="onAddCategory($event)"
          (deleteCategory)="onDeleteCategory($event)"
          (searchCategory)="onSearchCategory($event)"
        ></app-categories>
      </div>
    </ng-sidebar>
    <div ng-sidebar-content>
      <div class="main-panel">
        <!-- Navbar -->
        <nav
          class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
        >
          <app-header
            [categoryName]="selectedCategory ? selectedCategory.title : 'Все'"
            [showStats]="showStat"
            (toggleStat)="toggleStat($event)"
            (toggleMenu)="toggleMenu()"
          ></app-header>
        </nav>
        <!-- End Navbar -->
        <div class="content">
          <div class="container-fluid">
            <app-stats
              *ngIf="showStat"
              [totalTasksInCategory]="totalTasksCountInCategory"
              [completeTasksInCategory]="completedCountInCategory"
              [uncompleteTasksInCategory]="uncompletedCountInCategory"
            ></app-stats>
            <div
              class="row"
              ata-step="2"
              data-position="top"
              data-intro="Список всех задач с возможностьюо редактирование"
            >
              <div class="col-12">
                <app-tasks
                  [tasks]="tasks"
                  [selectedCategory]="selectedCategory"
                  [priorities]="priorities"
                  (updateTask)="onUpdateTask($event)"
                  (deleteTask)="onDeleteTask($event)"
                  (addTask)="onAddTask($event)"
                  (selectCategory)="onSelectCategory($event)"
                  (filterByTitle)="onSearchTasks($event)"
                  (filterByStatus)="onFilterTasksByStatus($event)"
                  (filterByPriority)="onFilterTasksByPriority($event)"
                ></app-tasks>
              </div>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
</ng-sidebar-container>
