
  <div class="logo">
    <span class="nav-title">
      Категории
    </span>
    <span class="add-icon-area">
      <button mat-icon-button class="add-icon" (click)="openAddCategoryDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
    
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <div class="search-category-area">

        <mat-form-field class="example-full-width">
            <input

                #inputSearchCategory

                (keydown.escape)="searchCategoryTitle = ''; search()"
                (keyup)="search()"
                [(ngModel)]="searchCategoryTitle"

                matInput
                maxlength="256"
                placeholder="Поиск категорий"

            />

            <button
                    (click)="searchCategoryTitle = ''; search()"
                    *ngIf="inputSearchCategory.value.trim().length > 0" aria-label="Clear"
                    class="search-category-button size25 gray"
                    mat-button

                    mat-icon-button

                    matSuffix
            >
                <mat-icon>clear</mat-icon>
            </button>

        </mat-form-field>

    </div>
      <li
        class="nav-item category"
        (click)="showTasksByCategory(null)"
        [class.active]="selectedCategory === null"
      >
        <a class="nav-link pointer">
          <span class="all-category-title">Все</span>
        </a>
      </li>
      <hr />
      <div *ngIf="categories.length === 0" ><p class="not-found">Ничего не найдено</p></div>
      <li
        (click)="showTasksByCategory(category)"
        *ngFor="let category of categories; let index = index"
        [class.active]="category === selectedCategory"
        class="nav-item pointer"
        (mouseleave)="indexMouseMove = null"
        (mouseenter)="indexMouseMove = index"
      >
        <a class="nav-link">
          <span class="category-title">{{ category.title }}</span>

          <!--         кнопка редактирования категории-->
          <span class="edit-category-icon-area">
            <mat-icon
              *ngIf="indexMouseMove === index"
              (click)="$event.stopPropagation();
              openEditDialog(category)"
              class="edit-category-icon"
              >edit
            </mat-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
